body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*, *:before , *:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Container*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro*/

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 130vh;
    background: url(/images/intro.jpg) center no-repeat; 
    /* center no-repeat ; */
    /* -webkit-background-size: cover; */
    /* background-size: cover; */
}

.intro__title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 50px auto;
}

.intro__suptitle {
    margin-bottom: 15px;
    color: #fff;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}

.intro__button {
    display: inline-block;
    vertical-align: top;
    border: 3px solid white;
    padding: 8px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background .1s linear, color linear .1s;
    margin: 20px 0;
}

.intro__button:hover {
    background-color: #fff;
    color: #333;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.header__logo {
    /* margin-left: 3%; */
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}


.nav__link {
    color: white;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    /* display: none; */
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a
}

.nav__link.active{
    color: #fce38a;
}

.nav__link:hover:after,.nav__link.active::after {
    /* display: block; */
    opacity: 1;
}
/* Slider */
.intro__slider {
    margin-top: 70px;
    /* width: 100px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* z-index: 1; */
}

.slider__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.slider__item {
    width: 23%;
    opacity: 0.7px ;
    font-size: 18px;
    position: relative;

    color: #fff;

    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px #fff solid;
}
.slider__line {
    font-size: 24px;
    font-weight: 700;
}
.slider__line.active {
    opacity: 1;
}
.slider__line.active:before {
    content: '';
    display: block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    left: 0;
    top: -3px;
    z-index: 1;

}

/* Section */
.section {
    padding: 80px 0;
}

.section--clients{
    background: #f5f5f5;
}


.section--gray {
    background-color: #f8f8f8;
}


.section--devices {
    margin-bottom: 40px;
    background: url(/images/adaptiv_03.jpg) center no-repeat;
    padding-bottom: 0;
}

.section__header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;
    text-align: center;
}
.section__suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}
.section__title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}

.section__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 35px auto;
}

.section__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #999999
}

/* About */

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.about__item {
    width: 380px;
    background-color: #95e1d3;
    position: relative;
}

.about__item:hover .about__img {
    transform: translate3d(-10px,-10px,0);
}

.about__item:hover .about__img img {
    opacity: .1;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    transition: transform .1s linear;
    background: linear-gradient(to bottom right, #f38181, #fce38a);
}

.about__img img{
    display: block;
    transition: opacity .1s linear;
}

.about__text{
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 700; 
    text-align: center;   
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .1s linear;
}

/* Statistiks */

.statistik {
    width: 100%;
    background-color: #95e1d3;
}
.statistik__inner {
    display: flex;
    
}
.statistik__item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;
}

.statik_text:last-child { 
    border-left: 1px solid #b5eae0;
}

.statik__number {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}
.statik__subtext {
    font-size: 14px;
    text-transform: uppercase;
}

.service__inner {
    display: flex;
    
}
.service__item {
    flex: 1 1 0;
    padding-right: 35px;
    padding-left: 85px;
    position: relative;
    
}
.service__icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;

}

.service__title {
    margin-bottom: 10px;
    font-style: 14px;
    text-transform: uppercase;
    color: #333;
}

.service__text {
    color: #999;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

hr {
    display: block;
    height: 1px;
    margin: 40px 0;
    /* border: 0;    */
    opacity: 0.2;
    width: 100%; 
    /* color: #e5e5e5; */
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices__item {
    display: block;
}

.devices__item--iphone{
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 1;
}
/* We do */
.wedo {
    display: flex;
}
.wedo__item {
    width: 50%;
}
/* 
.wedo__img {
}
.wedo__item {
} */

/* Accordion */

.accordion {
}
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5d5e5;
}

.accordion.active
.accordion__content {
    display: block;
}

.accordion.active
.accordion__header {
    border-bottom-color: #e5e5e5;
}

.accordion.active
.accordion__header::after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}


.accordion__header {
    padding: 15px 20px 15px 65px;
    border-bottom: 1px solid transparent;

    position: relative;
    cursor: pointer;
}

.accordion__header::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);

}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 1;

    transform: translateY(-50%);

}
.accordion__title {
    font-size: 14px;
    text-transform: uppercase;

}
.accordion__content {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    display: none;

    font-style: italic;
    padding: 15px 20px;
}

/* Reviews */

.reviews {
    padding: 0px 110px;
    position: relative;
}

.reviews__item {
    padding-left: 255px;
    position: relative;
}

.reviews__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.reviews__text {
    margin-bottom: 15px;
    font-size: 24px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.reviews__author {
    font-size: 24px;
    color: #333 ;
    font-family: 'Kaushan Script', cursive;
}

.reviews__author::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;    
}

.reviews__button {
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 0;
    color: transparent;
    position: absolute;
}

.reviews__button::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;

  
    transform: rotate(45deg);
}

.reviews__button--prev {
    left: 0;
    transform: rotate(-90deg);

}
.reviews__button--next {
    right: 0;
    transform: rotate(90deg);
}

.fa-facebook-f {
    font-size: 18px;
}

/* Social */

.social {
    display: flex;
    justify-content: center;
}
.social__item {
    background-color: #fce38a;
    border-right: 1px solid #f38181;
    color: #f38181;
    font-size: 30px;
    padding: 10px;
    line-height: 1px;

    width: 55px;

    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;;
    color: #fff;
}


.name {

}
.name__inner {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;

}
.name__title {
   
}
.name {
    font-size: 15px;
    /* font-weight: 700; */
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;

}

.work {
    font-size: 14px;
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

/* Logos */
.logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Works */

.works {
    display: flex;
}
.works__col {
    flex: 1 1 0;
}
.works__col {
}
.works__item {
    position: relative;

    background: linear-gradient(to bottom right, #f38181, #fce38a);
}

.works__item:hover .works__photo {
    opacity: .1;
}
.works__item:hover .works__info {
    opacity: 1;
}

.works__photo {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s linear;

}
.works__info {
    width: 100%;
    position: absolute;
    padding: 0px 15px;
    top: 50%;
    left: 0;
    z-index: 1;
    text-align: center;
    color: #fff;

    opacity: 0;
    transition: opacity 0.2s linear;
    
    transform: translate3d(0, -50%, 0 );
}
.works__title {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0px 5px;
}
.works__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    font-style: italic;

}

/* Clients */

.clients {
    display: flex;
    flex-wrap: wrap;
}
.clients__item {
    width: 50%;
    padding: 0px 45px 0px 175px;

    position: relative;
}










